@charset "utf-8";

/*
   My Personal Website - Final Project
   
   The Special Needs Village Layout Design
   Author: Annie Saenz
   Class ID: ITSE 1411-37005
   Student ID: 0729058

   Filename: snv_base.css

*/

/*HTML Styles*/

html {
	background: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(243,226,199,1) 29%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 72%, rgba(233,212,179,1) 100%);
	
}

/*Page Body Styles*/

body {
	background-color: rgba(248, 244, 226, 1);
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: 960px;
	min-width: 640px;
	box-shadow:  rgba(248, 247, 218, 1) 30px 0px 30px,
				 rgba(248, 247, 218, 1) -30px 0px 30px;
}

body > header > img {
	display: block;
	width: 100%;
}

body > header > nav.horizontal li {
	box-sizing: border-box;
	width: 19%;
	text-align: left;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

/*Floating Styles*/

/*Navigation Links at the top of each page*/
nav.horizontal ul {
	display: block;
	clear: left;
	float: left;
	list-style-type: none;
	
}
nav.horizontal li {
	display: block;
	float: left;
}

nav.horizontal a {
	display: block;
	float: left;
    font-size: 1em;
    height: 25px; 
    letter-spacing: 0.1em;   
    line-height: 28px;
	text-decoration: none;
	text-align: center;
}

nav.horizontal a:hover {
	color: rgba(134,174,204,1);
}


/*Website Title*/
article h1 {
	background-color: 	rgba(243,226,199,1);
	text-shadow: rgba(248, 247, 218, 1) 8px 8px 5px;
	clear: left;
	float: left;
	display: block;
	text-align: center;
	font-family: Florence, cursive;
	font-weight: bold;
	width: 100%
}
/*Page Title*/
article h2 {
	float: left;
	display: block;
	text-align: center;
	font-family: Florence, cursive;
	font-weight: bold;
	width: 95%;
	text-align: center;
}

p {
	display: block;
	/*width: 50%;*/
	margin: 10px;
	padding: 10px;
	border: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: black;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	line-height: 1.5em;
	text-align: justify;
}

/*All Images are set up as paragraphs and floated in one of the 2 columns*/
p > img {
	display: block;
	float: left;
	transform: translateX(45px);
	box-shadow: rgba(243,226,199,1) 15px 0px 15px,
				rgba(243,226,199,1) -15px 0px 15px;
}

p a:hover {
	color: rgba(183,222,237,1);
}


/*Used for Story Snippets on the Stories page*/
blockquote {
	text-align: justify;
	display: block;
	clear: left;
	font-family: Times New Roman, Georgia, Serif;
}

/*Footer Styles*/

footer {
	background-color: rgba(243,226,199,1);
	clear: left;
	text-align: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;	
}

footer a:hover {
	color: rgba(134,174,204,1);
}
/*Div Styles*/
div.row {
	clear: both;
}

div.row::after {
	clear: both;
	content: "";
	display: table;
}

body > footer::after {
	clear: both;
	content: "";
	display: table;
}
/* Grid Columns Styles */

div[class^="col-"] {
	float: left;
}
/*Used for both Left and Right Columns*/
div.col-1-2 {width: 50%;}

div.col-1-2 img {
	display: block;
	clear: left;
	float: left;
	
	/*width: 35%;*/
}
/*Resource Links on the Resource page*/
/*div[class^="col-"] a {
	display: block;
	list-style-type: none;
	text-align: justify;
	width: 90%;
	line-height: 1.5em;
}*/
